@tailwind base;
@tailwind components;
@tailwind utilities;

.header {
    width: 100%;
    background-color: cornflowerblue;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}